<template >
     <div class="app-menu min-vh-100">
      <b-img src="../assets/BID.png" width="100%" center style="padding: 10pt;"></b-img>
      <b-nav vertical >

    <b-nav-item to="/">หมวดหมู่สินค้า</b-nav-item>
    <b-nav-item to="./from Input1">เเก้ไขโปรไฟล์<UserProfile /></b-nav-item>
  </b-nav>
  <b-dropdown split text="หมวดหมู่สินค้า" class="m-2">
    <b-dropdown-item href="#">ของเล่นเเละเกม</b-dropdown-item>
    <b-dropdown-item href="#">วัฒนธรรมเเละงานอดิเรก</b-dropdown-item>
    <b-dropdown-item href="#">ของโบราณและของสะสม</b-dropdown-item>
    <b-dropdown-item href="#">กีฬา</b-dropdown-item>
    <b-dropdown-item href="#">รถยนต์และมอเตอร์ไซค์</b-dropdown-item>
    <b-dropdown-item href="#">แฟชั่น</b-dropdown-item>
    <b-dropdown-item href="#">เครื่องประดับและนาฬิกา</b-dropdown-item>
    <b-dropdown-item href="#">สุขภาพและความงาม</b-dropdown-item>
    <b-dropdown-item href="#">อาหารและเครื่องดื่ม</b-dropdown-item>
    <b-dropdown-item href="#">บ้านและการตกเเต่งภายใน</b-dropdown-item>
    <b-dropdown-item href="#">เครื่องเขียน อุปกรณ์</b-dropdown-item>
    <b-dropdown-item href="#">อุปกรณ์การเกษตร ดอกไม้ พืชสวน</b-dropdown-item>
    <b-dropdown-item href="#">สินค้าสำหรับเด็ก</b-dropdown-item>
    <b-dropdown-item href="#">ของสะสมไอดอล</b-dropdown-item>
    <b-dropdown-item href="#">สินค้าการ์ตูนและอนิเมะ</b-dropdown-item>
    <b-dropdown-item href="#">อื่นๆ</b-dropdown-item>
  </b-dropdown>
</div>

</template>
<script>
import UserProfile from './UserProfile.vue'
export default {
  components: {
    UserProfile
  }
}
</script>
<style >
.app-menu{
  background-color: gray;
}
.nav-link {
  color: black;

}
.nav-link:hover {
  color: lightgray;
}

</style>
