<template >
  <div class="nabar">
    <b-navbar>
      <b-navbar-brand href="#">BIDBID</b-navbar-brand>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>

          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>

        </b-nav-form>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item href="#" @click="modalShow = !modalShow">เข้าสู่ระบบ</b-dropdown-item>

          <b-modal v-model="modalShow" center>เข้าสู่ระบบ

          </b-modal>
          <b-dropdown-item href="#">ออกจากระบบ</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-navbar>
    <b-tabs content-class="mt-3" justified>
      <b-tab title="การชำระเงิน" active></b-tab>
      <b-tab title="การจัดส่ง" active></b-tab>
    </b-tabs>
  </div>
</template>
<script>
export default {
  data () {
    return {
      modalShow: false
    }
  }
}
</script>

<style >
.navbar {
  background-color: lightblue;
}
</style>
