<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="2" class="app-menu min-vh-100">
          <MainMenuWeb />
        </b-col>
        <b-col cols="10">
          <b-container>
            <b-row>
              <b-col>
                <NAVBAR />
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card no-body>
                  <b-tabs card>
                    <b-tab no-body title="1">
                      <b-card-img bottom src="https://i.pinimg.com/564x/8b/03/f3/8b03f34d1227e4ee7c63ad6dadae6475.jpg"
                        width="1000%" height="300" alt="Image 21"></b-card-img>

                    </b-tab>

                    <b-tab no-body title="2">
                      <b-card-img bottom src="https://i.pinimg.com/564x/5d/96/de/5d96de64dbc43edde22c8e822b488ad5.jpg"
                        width="1000%" height="300" alt="Image 25"></b-card-img>

                    </b-tab>

                    <b-tab no-body title="3">
                      <b-card-img bottom src="https://i.pinimg.com/564x/bf/23/13/bf2313f512b2aa9f8d58130796efd545.jpg"
                        width="1000%" height="300" alt="Image 26"></b-card-img>

                    </b-tab>

                    <b-tab title="เกี่ยวกับเรา">
                      <b-card-title>ไอ่สัสช่วยกูทำงานดิ้ไอเย็ดแม่ <code>#บ้าบอ</code> อยากเล่นเกม</b-card-title>
                      <b-card-text>
                        อยากได้ก็ให้ หากไม่สูงเกินไป
                        อยากกลายไปเป็นดาว
                        แถมเดือนไป ขอให้เธอพอใจ
                        ฉันให้ได้เพียงเท่านี้
                        ต้องการแค่ไหน ก็จะให้เธอไป
                        ตอบแทนด้วยดอกไม้
                        ด้วยหัวใจอาจจะน้อยเกินไป แต่ให้ได้เพียงเท่านี้
                        ไม่เคยพอใจเลยสักที
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        อาจใช่ อาจไม่ อาจจะค้างคาใจ
                        กรีดเลือดกรีดเนื้อ
                        ก็จะให้ไป ขอให้เธอพอใจ ฉันให้ได้เพียงเท่านี้
                        ต้องการแค่ไหน ก็จะให้เธอไป
                        ตอบแทนด้วยดอกไม้
                        ด้วยหัวใจอาจจะน้อยเกินไป แต่ให้ได้เพียงเท่านี้
                        ไม่เคยพอใจเลยสักที
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        จะรักแค่ไหนไม่เคยพอ
                        (เธอต้องการมากไปกว่านั้น)
                        ดี และพร้อมก็ไม่พอ... เธอต้อง
                        (เธอต้องการมากไปกว่านั้น)
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                        บ้าบอ ฉันคงไม่บ้าพอที่จะรักคนที่บ้าบอ
                        ให้รักแล้วไม่เคยพออย่างเธอ
                      </b-card-text>
                    </b-tab>
                  </b-tabs>
                </b-card>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>

    </b-container>

  </div>
</template>

<script>
import NAVBAR from './components/NAVBAR.vue'
import MainMenuWeb from './components/MainMenuWeb.vue'

export default {
  components: {
    NAVBAR,
    MainMenuWeb

  }
}

</script>

<style >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
